/* ~~~~~ GLOBAL RULES ~~~~~ */

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  margin: auto;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

section,
article {
}

h1 {
  color: #E9E9F3;
  padding-left: 5%;
}

h3 {
  color: #BFBFDD;
}

h4,
p {
  margin: 0;
  padding: 3%;
}

h4 {
  margin-top: 3%;
}

p {
  margin-bottom: 3%;
}

/* ~~~~~ SIDEBAR RULES ~~~~~ */

.sidenav {
  width: 30%;
  padding-top: 10px;
  background: #1F1F3D;
  color: white;
}

.sidenav div {
  padding: 15px;
  border-top: 3px solid #353567;
  border-bottom: 3px solid #353567;
}

/* ~~~~~ MAIN SECTION RULES ~~~~~ */

.rightside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.create-idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    background: #A9AAD2;
}

.form-div label {
  display: block;
}

.card-section {
  height: 100%;
  background: #EAEAF4;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.idea-card {
    background-color: #ffffff;
    border: 1px solid #353567;
    width: 25%;
    height: auto;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

img {
  height: 25px;
  margin: 2%;
}

.card-top {
    background: #1F1F3D;
    display: flex;
    justify-content: space-between;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #5356A4;
    color: #E9E9F3;
}

.card-bottom p {
  padding: 0;
  margin: 0;
}

.create-idea button {
  background: #5356A4;
  color:#E9E9F3;
}

.search-field {
  display: flex;
}
